.divStyle {
    /* background-image: url("../img/rustyback.png"); */
    height:475px;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top:70px;
}

.inputStyle {
    position:relative;
    left:25%;
     top:50%;
    width:50%;
    height: 10%;
    padding:0;
    margin: 0;
}

@media(max-width:1400px){
    .divStyle {
        height:100%;
        margin-top:70px;
        min-height:330px;
    }
    .inputStyle{
        position: absolute !important;
        top: 57%;   
        height: 13%;  
    }
} 

@media(max-width:1200px){
    .divStyle {
        height:100%;
        margin-top:80px;
    }
    .inputStyle{
        position: absolute !important;
        top: 57%; 
        height: 13%;  
    }
}
@media(max-width:768px){
    .divStyle {
        height:100%;
        margin-top:70px;
     
    }
    .inputStyle{
        position: absolute !important;
        top: 57%;   
        height: 14%;
    }
}

@media(max-width:600px){
    .divStyle {
        height:100%;
        margin-top:70px;
        min-height:330px;
    }
    .inputStyle{
        position: absolute !important;
        top: 57%;   
        height: 14%;
    }
}


@media(max-width:480px){
    .divStyle {
        height:100%;
        margin-top:80px;
        min-height: 200px;
    }
    .inputStyle{
        position: absolute !important;
        height: 20%;
        top: 40%;   
    }
}