.textStyle1 {
    font-family: 'Russo One', sans-serif;
    color:white;
    position:relative; 
    top:70%;
    right:41%;
    font-size:30px
}
.textStyle2 {
    font-family: 'Russo One', sans-serif;
    color:white;
    position:relative; 
    top:70%;
    right:44%;
    font-size:30px
}

a {
    display: inline-block;
}

img {
    position: relative;
    float: left;
    width: 100%;
}

.imgA{
    font-family: 'Russo One', sans-serif;
    color:white;
    position:relative; 
    top:70%;
    right:41%;
    font-size:30px
}